@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<section>
    <form method="post" action="/Home/Results">
        <p>Post to <strong>/Home/Results</strong>.</p>
        <p>
            <input type="text" name="theInput" id="theInput" />
        </p>
        <p>
            <input type="submit" value="Search" />
        </p>
    </form>
</section>
<section>
    <form method="post" action="/Path/To/classic.asp">
        <p>Post to <strong>/Path/To/classic.asp</strong>.</p>
        <p>
            <input type="text" name="theInput" id="theInput" />
        </p>
        <p>
            <input type="submit" value="Search" />
        </p>
    </form>
</section>